<div class="content-wrapper-top">
  <div class="content-container padding">
    <div
      *ngIf="
        (this.sessionService.sessions$ | async)?.length;
        else noSessionsBlock
      "
    >
      <mat-tab-group>
        <mat-tab label="Sessions">
          <pomodoro-session-report [sessions]="this.sessionService.sessions$ | async"></pomodoro-session-report>
        </mat-tab>
        <mat-tab label="Graph">
          <pomodoro-chart-report [sessions]="this.sessionService.sessions$ | async"></pomodoro-chart-report>
        </mat-tab>
      </mat-tab-group>
    </div>
    <ng-template #noSessionsBlock>
      <div class="text-center">
        <h2>No saved sessions</h2>
      </div>
    </ng-template>
  </div>
</div>
