<div class="content-wrapper-top">
  <div class="content-container padding">
    <div class="text-center template">
      <div class="text-center">
        <h3>Select template</h3>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Template</mat-label>
          <mat-select
            name="template"
            [(ngModel)]="selectedTemplate"
            (ngModelChange)="UpdateSelected()"
          >
            @for (template of this.templateService.templates$ | async ; track template) {
            <mat-option [value]="template">{{
              template.templateName
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <ng-container *ngIf="this.authService.user">
        <div>
          <mat-icon
            fontIcon="add"
            class="icon add-icon"
            matTooltip="Add new template"
            (click)="openAddTemplate()"
          ></mat-icon>
        </div>
        <div>
          <mat-icon
            fontIcon="remove"
            class="icon remove-icon"
            matTooltip="Remove current template"
            (click)="openDeleteTemplate()"
            *ngIf="!this.selectedTemplate.isDefault"
          ></mat-icon>
        </div>
      </ng-container>
    </div>

    <mat-divider></mat-divider>
    <h3 class="text-center m1">General Settings</h3>
    <div class="settings-container" >
      <setting-input
        settingName="Pomodoro time"
        [setting]="this.selectedTemplate.GetKeySetting('pomodoro')! "
        (valueChange)="this.UpdateSetting($event)"
        (boundChange)="this.SetBinding($event)"
        [isDefault]="this.selectedTemplate.isDefault"
        [binding]="this.GetBound(this.selectedTemplate.GetKeySetting('pomodoro')!)"

      />
      <div class="settings-container">
        <setting-input
          settingName="Short Break time"
          [setting]="this.selectedTemplate.GetKeySetting('shortBreak')!"
          (valueChange)="this.UpdateSetting($event)"
          (boundChange)="this.SetBinding($event)"
          [isDefault]="this.selectedTemplate.isDefault"
          [binding]="this.GetBound(this.selectedTemplate.GetKeySetting('shortBreak')!)"

        />
        <div class="settings-container">
          <setting-input
            settingName="Long Break time"
            [setting]="this.selectedTemplate.GetKeySetting('longBreak')!"
            (valueChange)="this.UpdateSetting($event)"
            (boundChange)="this.SetBinding($event)"
            [isDefault]="this.selectedTemplate.isDefault"
            [binding]="this.GetBound(this.selectedTemplate.GetKeySetting('longBreak')!)"

          />
          <div class="settings-container">
            <setting-input
              settingName="Sessions before long break"
              type="number"
              label="sessions"
              [minValue]=1
              [maxValue]=10
              [setting]="this.selectedTemplate.GetKeySetting('sessionBeforeLongBreak')!"
              (valueChange)="this.UpdateSetting($event)"
              (boundChange)="this.SetBinding($event)"
              [isDefault]="this.selectedTemplate.isDefault"
              [binding]="this.GetBound(this.selectedTemplate.GetKeySetting('sessionBeforeLongBreak')!)"
            />

          <div class="settings-container">
            <setting-input
              settingName="Break autostart"
              type="toggle"
              [setting]="this.selectedTemplate.GetKeySetting('breakAutostart')!"
              (valueChange)="this.UpdateSetting($event)"
              (boundChange)="this.SetBinding($event)"
              [isDefault]="this.selectedTemplate.isDefault"
              [binding]="this.GetBound(this.selectedTemplate.GetKeySetting('breakAutostart')!)"

            />
          <div class="settings-container">
            <setting-input
              settingName="Pomodoro autostart"
              type="toggle"
              [setting]="this.selectedTemplate.GetKeySetting('pomodoroAutostart')!"
              (valueChange)="this.UpdateSetting($event)"
              (boundChange)="this.SetBinding($event)"
              [isDefault]="this.selectedTemplate.isDefault"
              [binding]="this.GetBound(this.selectedTemplate.GetKeySetting('pomodoroAutostart')!)"

            />

        </div>
      </div>
    </div>
  </div>
</div>
