.setting
{
  display: grid;
  max-width: 600px;
  grid-column:  auto;
  grid-template-columns: 200px auto 30px;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
}
.input
{

}
.binding
{
  margin-left: auto;

}
.template-icon
{
  transform: scale(1);
  cursor: pointer;
}
.setting-name
{
  display: inline-block;
}
.slider
{
  width: 200px;
}
.minutes
{
  width: 80px;
}

